body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding:0px;
    font-family: Arial;
}
html {
  scroll-behavior: smooth;
}

*{
    box-sizing: border-box;

}

#backgroundp1{
    background-image: url(/img/busi.jpg);
    height: 970px;
}
.barmenu{
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.8;
  position: fixed;
  z-index:1000;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.designebar {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0;
}
.designebar * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}
.designebar li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.2em;
  overflow: hidden;
}
.designebar a {
  padding: 0 0.5em 0 0.2em;
  color: white;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.designebar a:before,
.designebar a:after {
  position: absolute;
  transition: all 0.35s ease;
}
.designebar a:before {
  right: 100%;
  display: block;
  width: 3px;
  height: 100%;
  content: "";
  background-color: #f39c12;
}
.designebar a:after {
  padding: 0 0.5em 0 0.2em;
  position: absolute;
  right: 100%;
  top: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.designebar li:hover a,
.designebar .current a {
  transform: translateX(100%);
}
.profil{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.photoprofil{
    background-color: black;
    opacity: 0.8;
    padding: 1%;
}
.photo{
    width: 30%;
    height: 30%;
    border-radius: 70%;

}
.presentationtitle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textname{
    font-size: 300%;
    color: white;

}
.photo1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.job{
    color: gray;
    font-size: 150%;

}
.textjob{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

}

.iconesocial{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;


}
.icone:hover{
    opacity: 0.6;
}
.fab{
    color: gray;

}
.iconesocial .icone{
    width: 8%;
    border-bottom: solid gray;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.dl{
    width: 30%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid gray;
}
.dltexte{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
#block1{
    height: 1000px;
    background-image: url(/img/note.jpg);
}
.parentprofil{

    height: 25%;
    color: white;
    font-family:arial;
    font-size:400%;
    background: transparent;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
    opacity: 0.5;

}
.presentationtitle{
   width: 50%;
   border-bottom: solid white 5px;
   font-family: arial;
}
.blockone{

    height: 70%;
    color: black;
    font-family:arial;
    background: black;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocka{
    width: 50%;
    height: 100%;
}
.presentation{
    width: 80%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    border-bottom: solid white;
}
.presentbar{
    width: 100%;
    height: 100%;
    text-align: start;
    color: white;
    font-size: 300%
}
#block2{
    height: 1000px;
    width: 100%;
    background-color: #222228;
}
.viewbar{
    font-size: 150%;
    color: wheat;
}
.sousboitedroit{
    width: 100%;
    height: 70%;
    padding-left: 10%;
}
.titlecompetence{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.titlecompet{
   font-size: 500%;
   color: wheat;
   font-weight: 700;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.skillsbar{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boitegauche{
    width: 30%;
    height: 100%;
}
.parentss{
    width: 90%;
    height: 70px;
    display: flex;
}
.parentxt{
    width: 20%;
    height: 100%;
}
.parentbar{
    width: 80%;
    height: 100%;
}
.sousparentxt{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    color:wheat;

}
.parentcolor{
    width: 100%;
    height: 70%;
    background-color: rgba(245, 222, 179, 0.2);
    border-radius: 150px;
}
.sousparentbar{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.enfantcolor1{
    
    height: 100%;
    background-color: wheat;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:120%;
}
.enfantcolor2{
    width: 60%;
    height: 100%;
    background-color: wheat;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:120%;
}
.enfantcolor3{
    width: 90%;
    height: 100%;
    background-color: wheat;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:120%;
}
.enfantcolor4{
    width: 60%;
    height: 100%;
    background-color: wheat;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:120%;
}
.enfantcolor5{
    width: 70%;
    height: 100%;
    background-color: wheat;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:120%;
}
#block3{
    height: 1000px;
    width: 100%;
    background-color: #372828;
}
.experiencepro{
    height: 100%;
    width: 100%;
}
.titlexperience{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    color: white;
    font-weight: bold;
}
.textexperience{
    height: 23%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}
.textpro{
    width: 50%;
    font-size: 150%;
    display: flex;
    justify-content: center;
}
.trait{
    width: 70%;
    height: 1%;
    margin-left: 15%;
    border-top: solid white;
}
#block4{
    height: 1000px;
    width: 100%;
    background-image: url(/img/school.jpg);
}
.sousblock4{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 2%;
    padding-top: 5%;
}
.blocdroit{
    width: 50%;
    height: 90%;
    background-color: #222228;
    opacity: 0.8;
    margin-right: 2%;
}
.blocgauche{
    width: 50%;
    height: 90%;
    background-color: #222228;
    opacity: 0.8;
}
.titreblockd{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titreblocdroit{
    font-size: 250%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: wheat;
    height: 50%;
    border-bottom: solid wheat;
    width: 40%;
    text-align: center;
}
.textblocd{
    height: 65%;
    width: 100%;
    padding-top: 2%;
}
.titleblocd{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    margin-top: 4%;
}
.texttitleblocd{
    font-size: 150%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.textdroit{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.texttextdroit{
    font-size: 120%;
    color: white;
}
.textblockg{
    height: 70%;
    width: 100%;
}
.line{
    height: 30%;
    width: 100%;
    margin-bottom: 2%;
}
.titleline{
    width: 100%;
    height: 30%;
    text-align: center;
}
.textline{
    width: 100%;
    height: 50%;
    text-align: center;
    font-size: 120%;
    color: white;
}
.titletext{
    font-size: 200%;
    color: white;
}
.block_5{
    display: flex;
    flex-direction: column;
    padding: 3%;
    height: 700px;
    background-color: #3E4E50;
}
article {
    padding: 50px;
    text-align:center;

}
.all_button{
    width: 100%;
    height: 10%;
    text-align: center;
}

.conteneur_text{
    width: 100%;
}
#onglet1{
    margin-right: 5%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    cursor: pointer;
    height: 100%;
    width: 20%;
    outline: none;
}
#onglet2{
    margin-right: 5%;
    margin-right: 5%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    cursor: pointer;
    height: 100%;
    width: 20%;
    outline: none;
}
#onglet3{
    margin-right: 5%;
    margin-right: 5%;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    cursor: pointer;
    height: 100%;
    width: 20%;
    outline: none;
}
#onglet1:hover {
    background-color: #555555;
    color: white;
  }
  #onglet2:hover {
    background-color: #555555;
    color: white;
  }
  #onglet3:hover {
    background-color: #555555;
    color: white;
  }
  .text_projet{
      color: white;
  }
  .contenu_img{
      height: 15%;
      width: 100%;
  }
  .block{
      background-color: #3E4E50;
  }
#block6{
  width: 100%;
  height: 700px;
  display: flex;
}
.block6gauche{
  width: 50%;
  height: 100%;
  background-color: #4B4545;
}
.titlegauche{
  margin: 0;
  font-size: 250%;
  color: white;
  font-family: Verdana;
  font-weight: bold;
}
.titleblockgauche6{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textblockgauche6{
  width: 60%;
  height: 70%;
  margin-left: 19%;
  border: solid white;
}
.passionparent{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.passiontext{
  font-size: 200%;
  color: white;
  text-align: center;
}
.block6droit{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.styleform{
	font: 95% Arial, Helvetica, sans-serif;
	width: 100%;
  height: 100%;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.styleform h1{
	background: #727272;
	padding: 20px 0;
	font-size: 180%;
	font-weight: 300;
	display: flex;
    justify-content: center;
    align-items: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
    height: 15%;

}
.styleform input[type="text"],
.styleform input[type="email"],
.styleform textarea,
.styleform select
{
	outline: none;
	box-sizing: border-box;
	width: 70%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.styleform input[type="text"]:focus,
.styleform input[type="email"]:focus,
.styleform textarea:focus,
.styleform select:focus
{
	box-shadow: 0 0 5px #727272;
	padding: 3%;
	border: 1px solid #727272;
}

.styleform input[type="submit"],
.styleform input[type="button"]{
	box-sizing: border-box;
	width: 50%;
	padding: 3%;
	background: #727272;
	border-bottom: 2px solid #727272;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	color: #fff;
    margin-left: 50%;
}
.styleform input[type="submit"]:hover,
.styleform input[type="button"]:hover{
	opacity: 0.8;
    cursor: pointer;
}
form{
  text-align: center;
}
.info{
  width: 100%;
  height: 20%;
  display: flex;
}
.adressetelephone{
  width: 50%;
  height: 100%;
  display: flex;
  margin-left: 10%;
}
.img{
  width: 20%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  margin-top: 4%;
}
.textimg{
  width: 80%;
  height: 60%;
  margin-top: 4%;
  display: flex;
  align-items: center;
}


footer{
    width: 100%;
    height: 130px;
    background-color: black;
    opacity: 0.9;


}
.blockfooter{
    display: flex;
    height: 100%;
}
.contenufooter{
    height: 100%;
    width: 50%;
}
.madeby{
    color: white;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center
}
.madeby2{
    color: white;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center
}
.iconefooter{
    margin-right: 5%;
    border-bottom: solid gray;
    width: 4%;
    text-align: center;
}
.iconefooter:hover{
    opacity: 0.6;
}

@media screen and (max-width: 1600px){
    .moncercle1{
        width: 40%;
        height: 60%;
    }
    .moncercle2{
     width: 40%;
     height: 60%;
 }
 .moncercle3{
     width: 40%;
     height: 60%;
 }
 .block_5{
     padding-top: 8%;
 }
}
@media screen and (max-width: 1400px){
    .textpro{
        width: 90%;
        font-size: 100%;
    }
 }
 @media screen and (max-width: 1000px){
    
    .textpro{
        width: 90%;
        font-size: 100%;
    }
.titreblocdroit{
    font-size: 190%;
}
.titreblockd{
    height: 15%;
}
.titletext{
    font-size: 180%;
}
.titleline{
    height: 45%;
}
.presentbar{
    font-size: 200%;
 }
 .titlegauche{
   font-size: 200%;
 }
 .passiontext{
   font-size: 170%;
 }
 .info{
   flex-direction: column;
   margin-bottom: 10%;
 }
 .textimg{
   font-size: 80%;
   width: 80%;
 }
 .adressetelephone{
   width: 100%;
   margin-left: 0;
 }
 .designebar a{
   font-size: 80%;
 }

.sousboitedroit{
    padding-left: 5%;
}
.sousparentbar{
    height: 50%;
    margin-left: 10%;
}
.titlecompetence{
    height: 25%;
}
.titlecompet{
    font-size: 250%;
}
.texttitleblocd{
    font-size: 110%;
}
.textdroit{
    margin-bottom: 25%;
}
.sousblock4{
    flex-direction: column;
}
.blocdroit{
    height: 45%;
    width: 100%;
    margin-bottom: 5%;
}
.blocgauche{
    height: 45%;
    width: 100%;
}
.textdroit{
    margin-bottom: 7%;
}
.titreblockd{
    margin-bottom: 5%;
}
.titreblocdroit{
    height: 55%;
}
.block_5{
    padding-top: 7%;
}
#onglet3 {
    width: 40%;
}
.conteneur_text{
    width: 100%;
}
.all_button{
    height: 7%;
}
.contenu_onglet1{
    margin: 50px;
}
.contenu_img{
    width: 100%;
}
.projectimg{
    width: 100%;
}
#block6{
    flex-direction: column;
    height: 1700px;
}
.block6gauche{
    width: 100%;
    height: 50%;
}
.block6droit{
    width: 100%;
    height: 50%;
}
}
 
@media screen and (max-width: 640px)
{
.parentprofil{
    font-size: 250%;
}
.presentbar{
    font-size: 175%;
}
.presentationtitle{
    padding-top: 15%;
}
.titlecompet{
    font-size: 250%;
}

.titlexperience{
    font-size: 150%;
}
.textpro3{
    margin-left: 4%;
}
.textpro{
    width: 90%;
    font-size: 100%;
}
.titreblocdroit{
    font-size: 120%;
    height: 35%;
}
.texttitleblocd{
    font-size: 150%;
}
.texttextdroit{
    font-size: 100%;
}
.titletext{
    font-size: 150%;
}
.textline{
    font-size: 90%;
}
.designebar  a{
  font-size: 55%;
}
.titlegauche{
  font-size: 150%;
}
.info{
  flex-direction: column;
  margin-bottom: 25%;
}
.textimg{
  font-size: 80%;
  width: 80%;
}
.adressetelephone{
  width: 100%;
  margin-left: 0;
}
.barmenu{
  height: 90px;
}
.sousparentxt{
    font-size: 100%;
}
.enfantcolor1{
    font-size: 100%;
}
.enfantcolor2{
    font-size: 100%;
}
.enfantcolor3{
    font-size: 100%;
}
.enfantcolor4{
    font-size: 100%;
}
.enfantcolor5{
    font-size: 100%;
}
.sousboitedroit{
    padding-left: 5%;
}
.sousparentbar{
    height: 50%;
    margin-left: 10%;
}
.titlecompetence{
    height: 25%;
}
.texttitleblocd{
    font-size: 110%;
}
.textdroit{
    margin-bottom: 25%;
}
#block4{
    padding-top: 20%;
}
.sousblock4{
    flex-direction: column;
}
.blocdroit{
    height: 45%;
    width: 100%;
    margin-bottom: 5%;
}
.blocgauche{
    height: 45%;
    width: 100%;
}
.textdroit{
    margin-bottom: 7%;
}
.titreblockd{
    margin-bottom: 5%;
}
.titreblocdroit{
    height: 55%;
}
.block_5{
    padding-top: 20%;
}
#onglet3 {
    width: 40%;
}
.conteneur_text{
    width: 100%;
}
.all_button{
    height: 7%;
    width: 100%;
}
.contenu_onglet1{
    padding: 5px;
}
.contenu_img{
    width: 100%;
}
.projectimg{
    width: 100%;
}
.text_projet{
    margin: 2%;
}
#block6{
    flex-direction: column;
    height: 1500px;
}
.block6gauche{
    width: 100%;
    height: 50%;
    padding-top: 15%;
}
.block6droit{
    width: 100%;
    height: 50%;
}
.info{
    margin-bottom: 15%;
    margin-top: 10%;
}
.dl{
    width: 40%; 
    height: 8%;
}
}
